@import 'tailwindcss';

@font-face {
  font-family: TikTok;
  src: url('@/public/fonts/tiktoksans-variable.ttf');
}
@font-face {
  font-family: CharlesWright;
  src: url('@/public/fonts/charleswright-bold.otf');
}
@theme {
  --font-charleswright: 'CharlesWright', sans-serif;
  --color-text-color: rgba(22, 24, 35, 1);
  --color-border-grey: rgba(0, 0, 0, 0.15);
  --color-cta-red: rgba(255, 0, 79, 1);
  --color-cta-green: rgba(2, 210, 110, 1);
  --color-cta-disabled: rgba(184, 184, 190, 1);
  --color-lenders-grey: rgba(217, 217, 217, 1);
  --color-pcp-grey: rgba(84, 82, 82, 1);
  --color-input-grey: rgba(241, 241, 241, 1);
}
body {
  font-family: 'TikTok', Arial, Helvetica, sans-serif;
  color: var(--color-text-color);
}
