@import 'tailwindcss';

@font-face {
  font-family: TikTok;
  src: url('../../public/tiktoksans-variable.ttf');
}
@font-face {
  font-family: CharlesWright;
  src: url('../../public/charleswright-bold.otf');
}
@theme {
  --font-charleswright: 'CharlesWright', sans-serif;
}
body {
  font-family: 'TikTok', Arial, Helvetica, sans-serif;
}
